#personal-image {
    padding: 10px;
}

body{
    background-color: #EEEBE5;
    color: #1E1E1E;
    font-family: "Lucida Console", "Courier New", monospace;

}

h1,h2,h3,h4,h5,h6{
    color:black;
    font-weight: bold;
}

#extra-padding {
    padding-top: 30px;
}

#nav-container{
    background-color: #1E1E1E;
}

.nav-link{
    color: #a2e0ea
}

#link{
    color: #961708
}

a{
    color: #1E1E1E;
}